
body {
  font: 16px/1.5 Arial, sans-serif;
  padding: 20px;
  max-width: 2560px;
  max-height: 1440px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

header {
  display: flex;
  align-items: center;
  background-color: #fa5bc5;
  padding: 20px;
  color: #fff;
  border: 1px solid #000000;
}

header img {
  width: 120px;
  height: 80px;
}

h1 {
  margin: 0;
  font-size: 28px;
  flex-grow: 1; 
}

a.logo {
  display: block;
  padding: 10px;
  text-decoration: none;
  margin-right: auto;
}

nav {
  text-align: right;
  border: 1px #000000;
}

.nav-link {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid #000000;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #fa5bc5;
  color: #ffffff;
}

aside {
  width: 33.33%;
  float: left; 
  margin-top: 40px;
}

aside h2 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #5c5c5c;
  font-size: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
  line-height: 1.5;
}

aside li {
  padding: 5px 0;
}

main {
  width: 66.66%;
  margin-top: 40px;
}

main h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #5c5c5c;
  font-size: 20px;
}

main label {
  display: block;
  margin-bottom: 5px;
  color: #fa5bc5;
}

main input[type="text"],
main input[type="email"],
main select,
main textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

main textarea {
  resize: vertical;
}

main input[type="radio"],
main input[type="checkbox"] {
  margin-right: 5px;
}

main p {
  margin: 10px 0;
}

figure {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #5c5c5c;
}

figure img,
figure iframe {
  align-content: center;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  color: #666;
}

footer {
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #fa5bc5;
  border: 1px solid #5c5c5c;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 18px;
  color: #fa5bc5;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  color: #fa5bc5;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #fa5bc5;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #fa5bc5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #e640a8;
}


  